@import '../../../shared/scss/mixines.scss';

.Footer {
  margin-top: var(--header_height);
  width: 100%;
  height: 150px;
  background-color: var(--color_accent);
  color: #ffffff;

  @include flexCenter();
}