.Logo {
  height: 40px;
  width: 80px;

  cursor: pointer;

  & svg {
    height: 100%;
    width: 100%;
  }
}

.Logo.top {
  & svg {
    & path {
      fill: #ffffff;
    }
  }
}

@media screen and (min-width: 768px) {
  .Logo {
    height: 50px;
    width: 100px;
  }
}
