// скрыл ripple эффект для состояния кнопки focus-visible
.MenuButton.MuiTouchRipple-root {
  display: none;
}

// переопределил стандартный MUI hover
.MenuButton.MuiButtonBase-root:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.MenuButton.top:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.MenuButton {
  & svg path {
    fill: var(--color_accent);
  }
}

// состояние кнопки меню в положении экрана scrollToTop
.MenuButton.top {
  & svg path {
    fill: #ffffff;
  }
}

// скрыть кнопку меню при открытом списке меню
.MenuButton.open {
  display: none;
}

@media screen and (min-width: 768px) {
  .MenuButton svg {
    width: 32px;
    height: 32px;
  }
}
