.MuiButtonBase-root.MenuButton:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.MenuButton.top {
  & svg path {
    fill: #ffffff;
  }
}

.MenuButton.open {
  display: none;
}

.MenuDrawer .MuiDrawer-paper {
  background-color: #10283b;
  color: #ffffff;
}

.ListItemButton:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.MenuButton.top:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.ListItemIcon {
  min-width: 40px !important;
}

.RewindIcon {
  transform: rotate(180deg);
  & path {
    fill: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .MenuButton svg {
    width: 32px;
    height: 32px;
  }
}
