.Calculator__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color_accent);
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .Calculator__container {
    padding: 10px 0 30px 0;
  }
}